
{% extends 'base.html.twig' %}
{# {% block stylesheets %}
<link href="{{asset('../css/style.css')}}" rel="stylesheet">
{% endblock %} #}
{% block body %}


<div class='container-fluid'>
    <section class="row ">
 {% for categorie in categories %}
        <div class="card col-2 ml-3 text-white bg-warning" style="">
            <div class="card-header">{{categorie.categorieNom}}</div>
        <div class="card-body">
            <a href="/shoesIsland/categorieHomme/{{ categorie.id }}"><img src="img\sneaker-removebg-preview.png" class="img_catHomme"/></a>
            <p class="card-text">{{categorie.categorieType}}</p>
        </div>
        </div>
    {% endfor %}
    </section>
</div>

</div>

{% endblock %}
